<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-alexa-crypto-fact-heading" jhiTranslate="gatewayApp.service3AlexaCryptoFact.home.createOrEditLabel">Create or edit a Alexa Crypto Fact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!alexa_crypto_fact.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="alexa_crypto_fact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.service3AlexaCryptoFact.factText" for="field_factText">Fact Text</label>
                    <input type="text" class="form-control" name="factText" id="field_factText"
                        [(ngModel)]="alexa_crypto_fact.factText" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.service3AlexaCryptoFact.id_image_url" for="field_id_image_url">Id Image Url</label>
                    <input type="number" class="form-control" name="id_image_url" id="field_id_image_url"
                        [(ngModel)]="alexa_crypto_fact.id_image_url" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
