<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alexa_crypto_fact">
            <h2><span jhiTranslate="gatewayApp.service3AlexaCryptoFact.detail.title">Alexa Crypto Fact</span> {{alexa_crypto_fact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.service3AlexaCryptoFact.factText">Fact Text</span></dt>
                <dd>
                    <span>{{alexa_crypto_fact.factText}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.service3AlexaCryptoFact.id_image_url">Id Image Url</span></dt>
                <dd>
                    <span>{{alexa_crypto_fact.id_image_url}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alexa-crypto-fact', alexa_crypto_fact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
