<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.service3AlexaCryptoFact.home.title">Alexa Crypto Facts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-alexa-crypto-fact" [routerLink]="['/alexa-crypto-fact/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.service3AlexaCryptoFact.home.createLabel">
            Create new Alexa Crypto Fact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="alexa_crypto_facts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.service3AlexaCryptoFact.factText">Fact Text</span></th>
            <th><span jhiTranslate="gatewayApp.service3AlexaCryptoFact.id_image_url">Id Image Url</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alexa_crypto_fact of alexa_crypto_facts ;trackBy: trackId">
                <td><a [routerLink]="['/alexa-crypto-fact', alexa_crypto_fact.id, 'view' ]">{{alexa_crypto_fact.id}}</a></td>
                <td>{{alexa_crypto_fact.factText}}</td>
                <td>{{alexa_crypto_fact.id_image_url}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/alexa-crypto-fact', alexa_crypto_fact.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/alexa-crypto-fact', alexa_crypto_fact.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alexa-crypto-fact/'+ alexa_crypto_fact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
