<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alexa_fact_image_url">
            <h2><span jhiTranslate="gatewayApp.service4AlexaFactImageUrl.detail.title">Alexa Fact Image Url</span> {{alexa_fact_image_url.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.service4AlexaFactImageUrl.url">Url</span></dt>
                <dd>
                    <span>{{alexa_fact_image_url.url}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alexa-fact-image-url', alexa_fact_image_url.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
