<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.service4AlexaFactImageUrl.home.title">Alexa Fact Image Urls</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-alexa-fact-image-url" [routerLink]="['/alexa-fact-image-url/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.service4AlexaFactImageUrl.home.createLabel">
            Create new Alexa Fact Image Url
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="alexa_fact_image_urls">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.service4AlexaFactImageUrl.url">Url</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alexa_fact_image_url of alexa_fact_image_urls ;trackBy: trackId">
                <td><a [routerLink]="['/alexa-fact-image-url', alexa_fact_image_url.id, 'view' ]">{{alexa_fact_image_url.id}}</a></td>
                <td>{{alexa_fact_image_url.url}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/alexa-fact-image-url', alexa_fact_image_url.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/alexa-fact-image-url', alexa_fact_image_url.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alexa-fact-image-url/'+ alexa_fact_image_url.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
